bgcolor = #F8C7B2;
brandedGray = darkgrey

display()
  display inline-block
centerDiv()
  margin auto
  margin-top: 1em
  width 60%
  border 3px solid #F47F70
  padding 10px



body
  background-color bgcolor

.navbar
  height 100px
  width 100%auto
  ul
    background-color bisque
    li
      color brandedGray
      list-style-type none
      display ()
      padding 1em


    li:hover
      color darken(brandedGray,50%)

.content1
  centerDiv()
  background-color #F5EFEC
  color darken ()



.content2
  centerDiv()
  background-color #F5EFEC
